* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  width: 997px;
  height: 300px;
  resize: none;
  background-color: whitesmoke;
}

.container {
  width: 1003px;
  height: 282px;
  background-color: grey;
  box-sizing: border-box;
  padding: 12px;
  /* border-radius: 35px; */
}

.keyboard-keys {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.key {
  height: 45px;
  width: 6%;
  max-width: 130px;
  margin: 3px;
  border-radius: 30px;
  border: none;
  background-color: white;
  user-select: none;
  cursor: pointer;
  outline: none;
  font-weight: 100;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.key-medium {
  width: 13%;
}

.key-large {
  width: 32%;
  max-width: 500px;
  color: black;
}

.key-ctrl {
  width: 9%;
}

.key:hover {
  transition: all 600ms ease;
  background-color: lightgrey;
}

.key-large:hover {
  color: black;
}

.key:active {
  box-shadow: none;
  color: white;
}

.key-active {
  background-color: darkgray;
  box-shadow: none;
  color: white;
  transition: all 300ms ease;
}

.pressed {
  position: relative;
  top: -10px;
}